AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
EKS_CLUSTER_NAME=portfolio-prod-eks
KUBE_NAMESPACE=portfolio-prod

IMAGE_REGISTRY=ghcr.io
IMAGE_REPOSITORY=your-github-user/devops-portfolio
IMAGE_TAG=latest

MYSQL_DATABASE=portfolio
MYSQL_USERNAME=portfolio_admin
MYSQL_PASSWORD=replace-with-a-long-secret-password

DOMAIN_NAME=portfolio.example.com
ACM_CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/replace-me
